.mobile{
  display: none;
}
@media (max-width: 420px){
  .mobile{
      display: block;
  }
  .web{
      display: none;
  }
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus{
    color: white;
    background-color:#1a1a1a;
}

.black-text {
  color: black;
}
