<html>
<head>
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
  <style text = "css">
    .backdrop {
    background-color:rgba(0,0,0,0.6);
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
  }
  img {
   border:7px solid black;
    vertical-align: middle;
  }
    </style>
</head>
<body>
<table class="table table-striped table-dark table-hover">
        <tr *ngIf="images">
            <th>Product Images</th>
            <td (click)="openModalDialog()" style="color: teal; cursor: pointer;">View Product Images Here</td>
        </tr>
        <tr *ngIf="subtitle">
          <td>Subtitle</td>
          <td>subtitle</td>
        </tr>

        <tr *ngIf="outData && outData.CurrentPrice && outData.CurrentPrice.Value">
            <td>Price</td>
            <td>${{outData.CurrentPrice.Value}}</td>
        </tr>

        <tr *ngIf="outData && outData.Location">
            <td>Location</td>
            <td>{{outData.Location}}</td>

        </tr>
        <tr *ngIf="outData && outData.ReturnPolicy && outData.ReturnPolicy.ReturnsAccepted">
            <td>Return Policy</td>
            <td>{{outData.ReturnPolicy.ReturnsAccepted}}<span *ngIf="outData.ReturnPolicy.ReturnsWithin"> With in {{outData.ReturnPolicy.ReturnsWithin}}</span></td>

        </tr>

        <tr *ngFor="let nv of nameValue;">
            <th>{{nv.name}}</th>
            <td>{{nv.value}}</td>
        </tr>
</table>

<div class="backdrop" [ngStyle]="{'display':display}"></div>
<div class="modal modal-fullscreen force-fullscreen" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
  <div class="modal-dialog" >
    <div class="modal-content">
      <div class="modal-header">
        <div><b>Product Images</b></div>
        <button type="button" class="close" aria-label="Close" (click)="closeModalDialog()"><span aria-hidden="true">&times;</span></button>
      </div>

      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModalDialog()" >Close</button>
      </div>

    </div>
    </div>
    </div>

  </body>
</html>

