
<table class="table table-striped table-dark table-hover">
        <tr *ngIf="images">
            <th>Product Images</th>
            <td (click)="openModalDialog()" style="color: teal; cursor: pointer;">View Product Images Here</td>
        </tr>
        <tr *ngIf="subtitle">
          <td>Subtitle</td>
          <td>subtitle</td>
        </tr>

        <tr *ngIf="outData && outData.CurrentPrice && outData.CurrentPrice.Value">
            <td>Price</td>
            <td>${{outData.CurrentPrice.Value}}</td>
        </tr>

        <tr *ngIf="outData && outData.Location">
            <td>Location</td>
            <td>{{outData.Location}}</td>

        </tr>
        <tr *ngIf="outData && outData.ReturnPolicy && outData.ReturnPolicy.ReturnsAccepted">
            <td>Return Policy</td>
            <td>{{outData.ReturnPolicy.ReturnsAccepted}}<span *ngIf="outData.ReturnPolicy.ReturnsWithin"> Within {{outData.ReturnPolicy.ReturnsWithin}}</span></td>

        </tr>

        <tr *ngFor="let nv of nameValue;">
            <th>{{nv.name}}</th>
            <td>{{nv.value}}</td>
        </tr>
</table>

<div class="backdrop" [ngStyle]="{'display':display}"></div>
<div class="modal modal-fullscreen force-fullscreen" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
  <div class="modal-dialog" >
    <div class="modal-content">
      <div class="modal-header">
        <div><b>Product Images</b></div>
        <button type="button" class="close" aria-label="Close" (click)="closeModalDialog()"><span aria-hidden="true">&times;</span></button>
      </div>

      <div class="modal-body">
            <div id="test" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <a href="{{images[0]}}" target="_blank"><img src={{images[0]}}  style="width:100%;"></a>
                    </div>

                    <div *ngFor="let image of images; let i = index" class="carousel-item">
                        <a href="{{image}}" target="_blank"><img src={{image}}  style="width:100%;"></a>
                        <!-- <img src={{image}}  style="width:100%;"> -->
                    </div>
                </div>

                <a class="carousel-control-prev" href="#test" data-slide="prev" target="_self">
                <span class="carousel-control-prev-icon"></span>
              </a>
              <a class="carousel-control-next" href="#test" data-slide="next" target="_self">
                <span class="carousel-control-next-icon"></span>
              </a>
              </div>
          </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModalDialog()" >Close</button>
      </div>

    </div>
    </div>
    </div>
    <!-- <a href= "/itemDetails#hey" ><img src = "http://csci571.com/hw/hw3/ScreenShot3.png" target="_self"></a>
      <div><img src= "http://csci571.com/hw/hw3/ScreenShot3.png"></div>
    <div id="hey">Come here</div> -->

